<div class="ui grid ">
  
  <div class="twelve wide stretched column " style="height: 700px; "> 
    <div class="ui segment">
      <% @message.each do |msg| %>
        <div class="event">
            <div class="content">
                 <div class="summary">
                      <a><%= msg.user.username %>: </a> <%= msg.body %>
                  </div>
            </div>
  
        </div> 
        <% end %>
    </div>

    <div>
      <%= form_for(@message , url:chatroom_path) do |f|  %>
      <div class="ui fluid action input" style="height: 50px;">
      <%= f.text_field :body , class: "ui fluid action input"  %>
      <%= f.submit "Send", class: "ui button" %>
      </div>
      <% end %>
    </div>

  

  </div>


</div>
