<div class="ui grid fluid ">

  <div class="sixteen wide stretched column" style="height: 1200px; ">

      <div class="ui segment"  id="message-box" >
        <%= render @messages %>
      </div>



    <div>
      <%= form_for(@message , url:message_path, remote:true) do |f|  %>
      <%= token_tag(nil) %>
      <div class="ui fluid  input" style="height: 50px;">
      <%= f.text_field :body ,placeholder:"enter message" %>
      <%= f.button "Send", class: "ui inverted red  right floated button".html_safe %>
      </div>
      <% end %>
    </div>




  </div>


</div>
