<h1>Sign-Up</h1>
<%= form_for @users do |f|  %>
<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <%= f.text_field :username, class: "ui left icon input" %>
          </div>
        </div>
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <%= f.text_field :email, class: "ui left icon input" %>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <%= f.password_field :password, class: "ui left icon input"%>

          </div>
        </div>
        <%= f.submit "Sign-Up", class: "submit-button ui blue submit button" %>
      </div>
    </div>
    
  </div>

</div>

<% end %>

