<!DOCTYPE html>
<html>
  <head>
    <title>AcmeMessaging</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=>true  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>


  <body>


  <div class="ui two column doubling stackable  container">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/errors' %>
    <%= yield %>

     </div>

  </body>
</html>
